body {
    background-color: #3a1a05;
    font-family: "Inter", "Segoe UI", Roboto, sans-serif;
}
h1 {
	text-align: center;
}
ul {
  background-color: #220f01;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0 15px;
}

a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  background-color: #3a1a05;
  border-radius: 5px;
}

.logo {
  height: 40px;
  width: auto;
  padding: 0;
  margin-right: 20px;
}
.pfp {
    height: 50%;
    width: 50%;
}
.left-container{
    color:antiquewhite;
    margin-right: 50%;
    margin-top: 300px;
    margin-left: 40px;
}
.right-container {
    align-items: center;
    margin-left:50%;
    margin-top: 200px;
}