body {
    font-family: "Inter", "Segoe UI", Roboto, sans-serif;
}
h1 {
	color: #3a241d;
	text-align: center;
}
ul {
  background-color: #220f01;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0 15px;
}

a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  background-color: #3a1a05;
  border-radius: 5px;
}

.logo {
  height: 40px;
  width: auto;
  padding: 0;
  margin-right: 20px;
}
