body {
    font-family: "Inter", "Segoe UI", Roboto, sans-serif;
}
h1 {
	color: #3a241d;
	text-align: center;
}
.logo {
    position: top, left;
    size: 35px,35px,35px,35px;
    padding: 0%;
    margin: 0%;
}